* {
	margin: 0;
	padding: 0;
}
body {
	background: url(../image/myBlogBackgroundimage.png);
	
}

#cas {
	border: 3px solid #888;
	margin-top: 1rem;
	margin-left: 3%;
	background: #fff;
}



@media only screen and (max-width: 800px) {
	#tools {
		width: calc(100%-30px);
		padding: 1rem 1rem;
	}
	.toolBox {
		width: 3rem;
		height: 3rem;
		float: left;
		margin: 1rem 8%;
		border-radius: 50%;
	}
	.sizeBox,
	.colorBox,
	.rubberBox,
	.clearBox {
		position: relative;
	}
	.size,
	.color,
	.rubber,
	.clear {
		width: 100%;
		height: 100%;
		display: inline-block;
		position: absolute;
		top: 0;
		border-radius: 50%;
	}
	.s0 { 
		width: 100%;
		height: 100%;
		border-radius: 50%;
		z-index: 0; 
		background: url(../image/lineWidth.png);
		background-size: 70%;
		background-repeat: no-repeat;
		background-position-x: .6rem;
		background-position-y: .6rem;
	}
	.c0 { 
		width: 90% !important;
		height: 90% !important;
		border-radius: 0;
		z-index: 0; 
		background: url(../image/color.png);
		background-size: 80%;
		background-repeat: no-repeat;
		background-position-y: .4rem;
	}
	.r0 { 
		width: 100%;
		height: 100%;
		border-radius: 50%;
		z-index: 0; 
		background: url(../image/rubber.png);
		background-size: 70%;
		background-repeat: no-repeat;
		background-position-x: .6rem;
		background-position-y: .6rem;
	}
	.clear {
		background: url(../image/clear.png);
		background-size: 70%;
		background-repeat: no-repeat;
		background-position-x: .4rem;
		background-position-y: .4rem;
	}
	
	.sizeWeight {
		border-radius: 50%;
		background: #000;
		margin: auto;
		margin-top: 42%;
	}
	.rubberWeight {
		border: .1rem solid #000;
	}
	
	.s1,.s2,.s3,.s4,
	.c1,.c2,.c3,.c4,.c5,.c6,.c7,.c8,
	.r1,.r2,.r3 {
		background: #FFF;
		opacity: 0;
		box-shadow: 2px 2px 4px rgba(0,0,0,.3);
	}
	.s1 { z-index: 10; }
	.s2 { z-index: 20; }
	.s3 { z-index: 30; }
	.s4 { z-index: 40; }
	
	.c1 { z-index: 10;background: #000; }
	.c2 { z-index: 20;background: rgb(68, 124, 105); }
	.c3 { z-index: 30;background: rgb(226, 121, 163); }
	.c4 { z-index: 40;background: rgb(201, 74, 83); }
	.c5 { z-index: 50;background: rgb(101, 56, 125); }
	.c6 { z-index: 60;background: rgb(233, 215, 142); }
	.c7 { z-index: 70;background: rgb(86, 152, 196); }
	.c8 { z-index: 80;background: rgb(252,146,59); }
	
	.r1 { z-index: 10; }
	.r2 { z-index: 20; }
	.r3 { z-index: 30; }
	
	.s1 > div { width: 2rem;height: .1rem;margin: 1.45rem 0 0 .5rem;}
	.s2 > div { width: 2rem;height: .3rem;margin: 1.35rem 0 0 .5rem; }
	.s3 > div { width: 2rem;height: .5rem;margin: 1.25rem 0 0 .5rem; }
	.s4 > div { width: 2rem;height: .8rem;margin: 1.1rem 0 0 .5rem; }
	
	.r1 > div { width: .3rem;height: .3rem; margin: 1.25rem 0 0 1.25rem; }
	.r2 > div { width: .5rem;height: .5rem; margin: 1.15rem 0 0 1.15rem; }
	.r3 > div { width: .8rem;height: .8rem; margin: 1rem 0 0 1rem; }
	
	
	
}
@media only screen and (min-width: 801px) {
	
}
